body {
    background-color: black;
    color: white;
    font-family: 'Syne Mono', monospace;
}

a {
    color: white;
}

.description-content {
    padding: 10px;
    max-width: 500px;
}

.quotes-content {
    padding: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.description-container {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 300px;
    font-size: smaller;
    margin-bottom: 30px;
}

.quotes-container {
    background-color: black;
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 300px;
    font-size: smaller;
    /* margin: 50px auto; */
    /* added for draggable element feature */
    position: absolute;
}

.top {
    padding: 5px;
    background: #f1f1f1;
}

button {
    margin: 10px;
    border-radius: 10px;
}

#image-1 {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 300px;
    height: 329px;
    /* added for draggable element feature */
    position: absolute;
  }
  
  #image-2 {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 200px;
    height: 229px;
    /* added for draggable element feature */
    position: absolute;
  }
  
  #image-3 {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 100px;
    height: 129px;
    /* added for draggable element feature */
    position: absolute;
  }

  img {
      width: 100%;
  }